/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection{
    background:var(--green);
    color:#fff;
}


:root{
    --green:#27ae60;
    --black:#2c2c54;
    --blue:#42b0bd;
  }
  #logo{
	position: absolute;
    top: 1rem;
    right: 26.5rem;

    width: 9rem;
    height: auto;
	
}

.llk{
 
    color:var(--green);
  }


h3{
    
    font-size: 4.5rem;
    color:var(--black);
  } 

  #indeximage{
    /* The image used */
    background-image: url("../images/creataccountform/ideximage.png");
    background-repeat: no-repeat ;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    /* Add the blur effect */
    filter: blur(15px);
    -webkit-filter: blur(15px);
    z-index: -1;

  }







body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    
}
.container{
    position: relative;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    border-radius: 19px;
    padding: 80px;
    margin: 0 15px;
    margin-top: 30px;
    margin-bottom: 30px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    height:95rem;
    
}

.container:hover {
    box-shadow: 0 5px 10px rgba(0, 143, 26, 0.4);
    outline: none;
    
    
}




.container header{
    position: relative;
    font-size: 28px;
    font-weight: 800;
    color: #333;
   
   
}
.container header::before{
    content: "";
    position: absolute;
    left: -1.8rem;
    bottom: -10px;
    height: 5px;
    width: 56rem;
    border-radius: 8px;
    background-color: var(--green);
}
.container form{
    position: relative;
    margin-top:0rem;
    height:82rem;
    background-color: #fff;
    overflow: hidden;
    
   
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
   
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
   
   
    
}

.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
   
    
}



.title{
   padding-top: 1rem;
   
   
    
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    padding-top: 2rem;
   
}


.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}





.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
  
}


#lnum{
    display: flex;
   margin-right: 34%;
  
}




.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
    text-align: left;
}







.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    border-radius: 49rem;
   
}

.fullname{
    width: 50rem;
}




.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
    
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 860px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: var(--black);
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 25px;
   
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
    
    
}
form button:hover{
    background-color: var(--green)
    
    
    
    
}
form button i,
form .backBtn i{
    margin: 0 6px;
    
  
}
form .backBtn i{
    transform: rotate(180deg);
    
}

form .buttons{
    display: flex;
    align-items: center;

    
    
}

#applybtn{
    padding-top: 8rem;
}


form .buttons button , .backBtn{
    margin-right: 14px;
         
}


.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 171, 3, 0.437);
    color: #008612c4;
}
.input-field select:is(:focus, :hover){
    box-shadow: 0 3px 6px rgba(0, 171, 3, 0.437);
    color: #008612c4;
}



.file-upload {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
  }
  
  .file-upload__input {
    display: none;
  }
  
  .file-upload__button {
    -webkit-appearance: none;
    background: #009879;
    border: 2px solid #00ffcc;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .file-upload__button:active {
    background: #00755d;
  }
  
  .file-upload__label {
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Quicksand", sans-serif;
  }
  
  .file-upload__button :hover{
    
    -webkit-appearance: none;
    background: var(--green);
    border: 2px solid var(--green);
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow:0 0 19px 0px var(--green);
  }
  