/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection{
    background:var(--green);
    color:#fff;
}


:root{
    --green:#27ae60;
    --black:#2c2c54;
    --blue:#42b0bd;
  }

  .heading{
    padding-top: 2rem;
}
/*started button*/
.btntable{
    display: inline-block;
    margin-top: 1rem;
    background:var(--green);
    color:#fff;
    padding:.7rem 3rem;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    border-radius:0px;
    box-shadow:0 0 1px 0.5px var(--black);

  }
  
  .btntable:hover{
    background:var(--black);
    border-radius:10px;
    outline: none; 
  }
  

.content-table {
  border-collapse: collapse;
  margin-top: -1rem;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;

  font-size: 1.5em;
  min-width: 1300px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

}

table:hover {
    box-shadow: 0 5px 10px rgba(7, 221, 46, 0.4);
    outline: none;
    border-radius: 20px 20px 0 0;
}
td:hover {
    
    
    border-radius: 10px 10px 10px 10px;
    transform:scale(1.2) rotate(0deg);
     
}
.content-table thead tr {
  background-color: var(--green);
  color: #ffffff;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 17px 20px;
}

.content-table tbody tr {
  border-bottom: 3px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: var(--green);
}

.content-table tbody tr:last-of-type {
  border-bottom: 4px solid #009879;
}
